/*  1920 - 1366 - 1280 - 370 - 320   */

main, header, footer {
    flex-direction: column;
    display: flex;
}

.flex_row {
	display: flex;
    min-height: 30px;
}

.flex_1 {	       
    /*box-sizing: border-box;
    border: 2px solid #000;*/
    flex: 12;   
}

.flex_2 { 
    flex: 6;
}

.flex_3 {
    flex: 4;
}

.flex_4 {
    flex: 3;
}

.flex_6 {
    flex: 2;
}

.flex_12 {
    flex: 1;
}

.center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex_container {
	display: flex;
}

.column {
    flex-direction: column;
}

.height-200 {
    height: 200px;
}

.height-120 {
    height: 120px;
}

.height-60 {
    height: 60px;
}

.height-20 {
    height: 20px;
}

.opacity {
    opacity: .5;
}

.flex_shrink_1 {
	flex: 1 1 20em;
}

.flex_shrink_2 {
	flex: 2 2 20em;
}

.flex_shrink_3 {
	flex: 2 2 20em;
}

.red { background-color: #FF5757; }
.blue { background-color: #57EFFF; }
.green { background-color: #6DFF57; }
.yellow { background-color: #FFC257; }

.order1 { order: 1; }
.order2 { order: 2; }
.order3 { order: 3; }
.order4 { order: 4; }
.order5 { order: 5; }
.order6 { order: 6; }

.grey_block_footer { background-color: #f2f2f2; }

@media screen and (max-width: 520px) {
    .flex_row {
        flex-direction: column;
    }
    
    .flex-end, .flex-start {
        justify-content: center;
    }

}

