body{
    background: url('../img/cartographer.png');
    margin: 0;
    padding: 0; 
}

/*----  HEADER ----*/

header {
    margin: 40px 0;
}

header img{
    transform: rotate(-15deg);
    margin-right: 30px;
}

h1{
    font-family: sans-serif;
    color: antiquewhite;
    text-decoration: underline;
}

/*----  MAIN ----*/
#board {
    position: relative;
    background: url('../img/board.png') no-repeat;
    height: 520px;
    width: 483px;
}

#freeze {
    position: absolute;
    height: 520px;
    width: 483px;
    background: rgba(255, 255, 255, 0);
    z-index: 2;
    top: 0;
    left: 0;
}

.button {
    position: absolute;
	width: 103px;
    height: 104px;
    background: url('../img/button.png');
    margin-top: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
    
    .button > img {
        margin-top: 28px;
    }

.null {
	position: absolute;
    width: 103px;
    height: 104px;
    margin-top: 40px;
}

/*-- ROW1 --*/
#x1_y1 {    
    top: 0px;
    left: 34px;
}

#x1_y2 {    
    top: 0px;
    left: 137px;
}

#x1_y3 {    
    top: 0px;
    left: 240px;
}

#x1_y4 {    
    top: 0px;
    left: 343px;
}

/*-- ROW2 --*/
#x2_y1 {    
    top: 107px;
    left: 34px;
}

#x2_y2 {    
    top: 107px;
    left: 137px;
}

#x2_y3 {    
    top: 107px;
    left: 240px;
}

#x2_y4 {    
    top: 107px;
    left: 343px;
}

/*-- ROW3 --*/
#x3_y1 {    
    top: 214px;
    left: 34px;
}

#x3_y2 {    
    top: 214px;
    left: 137px;
}

#x3_y3 {    
    top: 214px;
    left: 240px;
}

#x3_y4 {    
    top: 214px;
    left: 343px;
}

/*-- ROW4 --*/
#x4_y1 {    
    top: 321px;
    left: 34px;
}

#x4_y2 {    
    top: 321px;
    left: 137px;
}

#x4_y3 {    
    top: 321px;
    left: 240px;
}

#x4_y4 {    
    top: 321px;
    left: 343px;
}

/*-- StopWatch --*/
#stopwatch_container {
	width: 260px;
    height: 150px;
    margin: 0px auto;
}

#watch_back {
    width: 192px;
    height: 117px;
    background: url('../img/watch.png') no-repeat;
}

#stopwatch {
    color: #ffffd2;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 48px 0 0 147px;
    letter-spacing: 40px;
}

#stop_button, #start_button {
	width: 120px;
    background-color: aqua;
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    box-shadow: 0px 4px 0 rgba(0, 0, 255, 1);
}

#stop_button:hover, #start_button:hover {
    background-color: aquamarine;
}

#stop_button:active, #start_button:active {
    margin-top: 43px;
    box-shadow: 0px 1px 0 rgba(0, 0, 255, 1);
}

/*----  FOOTER ----*/
footer {
    margin: 40px 0;
}

/*----  MOBILE ----*/
@media screen and (max-width: 480px) {
    header img{
        margin-right: 0px;
    }
}